AUTH_SECRET=gere-um-segredo-longo
AUTH_GOOGLE_ID=seu-client-id.apps.googleusercontent.com
AUTH_GOOGLE_SECRET=seu-client-secret
GOOGLE_APPS_SCRIPT_WEB_APP_URL=https://script.google.com/macros/s/SEU_DEPLOYMENT_ID/exec
GOOGLE_APPS_SCRIPT_SHARED_SECRET=defina-um-segredo-forte
GOOGLE_DRIVE_FOLDER_ID=10Jzu3J_aHEv709757qs8Oqlyf5uZDHDT
